@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
body{
    width: 100%;
    font-family: "Poppins", serif;
}


/*  ......................  Header  ........................ */
#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Assets/images\ \(1\).jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*  ..... Navbar  ..... */
#header .navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.navbar .logo{
    width: 180px;
    height: 90px;
    margin-left: 107px;
    position: relative;
    top: -20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.navbar .logo img{
    width: 80%;
    position: absolute;
    top: 36px;
    left: 15px;
}
.navbar ul{
    margin-right: 107px;
    display: flex;
    gap: 15px;
}
.navbar ul li a{
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 70px;
    color: #fff;
    padding: 28px 0;
    font-weight: bold;
}
.navbar ul li a.active{
    background-color: #ffffff;
    color: #E31E25;
}

#hamburger, #hamMenu, #checkBox{
    display: none;
}

/* .....  hero */
.hero{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.hero .hero-img{
    width: 500px;
}
.hero .hero-img img{
    width: 100%;
}

.hero .hero-content{
    color: #ffffff;
    width: 440px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .hero-content h3{
    font-weight: 600;
    font-size: 30px;
    text-shadow: 0 0 2px black;
}
.hero .hero-content h1{
    color: #f9ca01;
    font-weight: bolder;
    font-size: 60px;
    line-height: 55px;
    text-shadow: 0 0 2px black;
}
.hero .hero-content img{
    width: 116px;
    position: relative;
    top: -15px;
    left: 327px;
}
.hero .hero-content button{
    background-color: #ffcc02;
    color: black;
    padding: 10px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

/* .........................  About  .................... */
#about{
    width: 100%;
    padding: 50px 70px;
}
#about .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9ca01;
    padding-left: 30px;
    border-radius: 15px;
}
#about .about-content{
    width: 50%;
}
#about .about-content>img{
    width: 250px;
}
#about .about-content p{
    font-size: 11px;
    margin: 30px 0;
}
#about .about-content h4{
    font-weight: 500;
    margin-bottom: 10px;
}
#about .about-content ul{
    display: flex;
    gap: 15px;
}
#about .about-content ul a i{
    font-size: 25px;
}
#about .about-content ul a{
    display: inline-block;
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .about-img{
    width: 50%;
    overflow: hidden;
}
#about .about-img img{
    width: 100%;
    position: relative;
    right: -20px;
}

/* ...................  Download App  ................ */
#app{
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Assets/golden-fried-chicken-legs-steaming-in-the-afternoon-sun-photo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 50px 15px 50px;
}
#app .app-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app .app-img img{
    width: 400px;
}
#app .app-content{
    width: 50%;
    color: white;
    line-height: 45px;
    padding: 33px 0 0 100px;
}
#app .app-content h3{
    font-weight: 500;
    font-size: 30px;
    text-shadow: 0 0 2px black;
}
#app .app-content h2{
    font-size: 46px;
    font-weight: 600;
    text-shadow: 0 0 2px black;
}
#app .app-content img{
    width: 260px;
    margin-left: 65px;
}

/* .................... Our  Menu  .......................... */
#menu{
    width: 100%;
    padding: 40px 0;
}
#menu>h2{
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 2px black;
}
#menu ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
#menu ul li a{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 100px;
    display: inline-block;
    color: #7e7e7e;
    padding: 9px 0;
    background-color: #dcdcdc;
    border-radius: 5px;
}
#menu ul li a.active{
    color: white;
    background-color: #E31E25;
}
/* Cards */
#menu .menu-cards{
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
#menu .menu-cards > button{
    display: none;
}
#menu .menu-cards .cards{
    width: 300px;
    padding: 18px;
    border-radius: 25px;
    box-shadow: 0 0 5px 2px #cdcdcd;
}
#menu .menu-cards .cards .cards-content{
    display: flex;
    flex-direction: column;
}
#menu .menu-cards .cards img{
    width: 100%;
    height: 195px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}
#menu .menu-cards .cards h2{
    font-size: 15px;
    font-weight: 600;
}
#menu .menu-cards .cards h5{
    font-size: 12px;
    color: #474747;
}
#menu .menu-cards .cards p{
    font-size: 11px;
    padding: 10px 0 15px 0;
    color: #505050;
    line-height: 15px;
}
#menu .menu-cards .cards div{
    display: flex;
    justify-content: space-between;
}
#menu .menu-cards .cards span{
    font-weight: 700;
    letter-spacing: 0;
}
#menu .menu-cards .cards button{
    font-weight: bold;
    padding: 5px 13px;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-shadow: 0 0 2px black;
}

/* ..............   Testimonials  .............................. */
#testimonials{
    width: 100%;
    padding: 80px 50px 100px 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url(../Assets/1stImage.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.testimonial-heading{
    width: 426px;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    line-height: 48px;
}
.testimonial-heading h3{
    font-size: 45px;
    font-weight: 600;
    text-shadow: 0 0 2px black;
}
.testimonial-heading h2{
    font-size: 48px;
    text-shadow: 0 0 2px black;
}
.testimonial-content{
    background-image: linear-gradient(rgba(255, 217, 0, 0.77), rgba(255, 230, 0, 0.77)), url(../Assets/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}
.testimonial-content .testBtns{
    height: 100%;
    display: flex;
    align-items: center;
}
.testimonial-content .testBtns button{
    background-color: transparent;
    border: none;
    font-size: 40px;
}
.testimonial-content .testBtns button img{
    height: 50px;
}
.testimonial-content .test-content{
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.testimonial-content .test-content img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* ....................  Timing  ............... */
#timing {
    width: 100%;
    padding: 40px 60px;
    text-align: center;
}
#timing .container{
    color: #ffffff;
    width: 100%;
    padding: 50px 0;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../Assets/golden-fried-chicken-legs-steaming-in-the-afternoon-sun-photo.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#timing .container h2{
    font-size: 30px;
    margin-bottom: 5px;
    text-shadow: 0 0 2px black;
    font-weight: 500;
}
#timing .container>h2{
    margin-bottom: 25px;
    text-shadow: 0 0 2px black;
}

/* ......................  Footer  ..................... */
#footer{
    width: 100%;
    padding: 50px;
}
#footer .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 35px;
}

#footer .footer-logo, #footer .footer-links, #footer .footer-contact{
    width: 300px;
}
#footer .footer-logo img{
    width: 200px;
    margin: 0 0 25px 30px;
}
#footer .footer-logo p{
    font-weight: 500;
}
#footer .container h3{
    font-size: 16px;
    font-weight: 600;
}

#footer ul{
    margin-left: 44px;
}
#footer .footer-links ul a{
    color: #000000;
}

#footer .copy-right{
    text-align: center;
    font-weight: 500;
}

@media (max-width: 500px){
    /* HamBurger */
    #hamburger{
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #848484c2;
        transform: translateX(-118%);
        transition: all 0.3s ease-in-out;
    }
    #hamburger ul{
        position: absolute;
        top: 100px;
        left: 18%;
        width: 100%;
    }
    #hamburger ul a{
        display: inline-block;
        padding: 12px 0 12px 30px;
        width: 81.6%;
        color: #ffffff;
        font-size: 19px;
        font-weight: 600;
        text-shadow: 0 0 2px #000000;
    }
    #hamburger ul li a.active{
        text-shadow: none;
        background-color: #ffffff;
        color: #E31E25;
    }
    #hamMenu{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #E31E25;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 12px;
        z-index: 1000;
    }
    #checkBox{
        display: inline-block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 12px;
        z-index: 10000;
    }
    #hamMenu span{
        display: block;
        background-color: #fff;
        width: 32px;
        height: 2.5px;
        position: absolute;
        top: 15px;
        left: 9px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        transform-origin: 0% 0%;
    }
    #hamMenu #crossLine2{
        top: 23px;
        width: 22px;
        left: 19px;
    }
    #hamMenu #crossLine3{
        top: 30px;
    }
    input[type="checkbox"]#checkBox:checked{
        position: fixed;
        top: 10px;
        right: 12px;
    }
    input[type="checkbox"]:checked~#hamburger {
        transform: translateX(0%);
    }
    input[type="checkbox"]:checked~#hamMenu{
        position: fixed;
        background-color: transparent;
    }
    input[type="checkbox"]:checked~#hamMenu #crossLine1{
        left: 12px;
        top: 14px;
        transform: rotate(45deg);
    }
    input[type="checkbox"]:checked~#hamMenu #crossLine2{
        display: none;
    }
    input[type="checkbox"]:checked~#hamMenu #crossLine3{
        left: 12px;
        top: 36px;
        transform: rotate(-45deg);
    }

/* Navbar */
    .navbar .logo{
        width: 150px;
        height: 80px;
        margin-left: 11px;
    }
    .navbar ul{
        display: none;
    }
    /* Hero */
    .hero{
        flex-direction: column;
        align-items: center;
    }
    .hero .hero-img{
        width: 250px;
    }
    .hero .hero-content{
        width: 265px;
        height: 215px;
    }
    .hero .hero-content h3{
        font-size: 20px;
    }
    .hero .hero-content h1{
        font-size: 34px;
        line-height: 33px;
    }
    .hero .hero-content img{
        width: 130px;
        left: 123px;
    }
    .hero .hero-content button{
        font-size: 18px;
        padding: 7px;
        margin-top: 0;
    }

    /* About */
    #about{
        padding: 25px 15px;
    }
    #about .container{
        flex-direction: column-reverse;
        padding: 0;
    }
    #about .about-img{
        width: 100%;
    }
    #about .about-content{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about .about-content > img{
        width: 160px;
    }
    #about .about-content h4{
        font-size: 12px;
        margin-bottom: 4px;
    }
    #about .about-content ul{
        margin-bottom: 20px;
        gap: 10px;
    }
    #about .about-content ul a{
        width: 23px;
        height: 23px;
    }
    #about .about-content ul a i{
        font-size: 15px;
    }
    /* APP */
    #app{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 25px 10px 25px;
    }
    #app .app-img{
        width: 100%;
        padding: 20px;
    }
    #app .app-img img{
        width: 100%;
    }
    #app .app-content{
        width: 100%;
        padding: 0;
        line-height: 32px;
    }
    #app .app-content h3{
        font-size: 24px;
    }
    #app .app-content h2{
        font-size: 34px;
    }
    #app .app-content img{
        width: 150px;
        margin-left: 58px;
    }
    /* Menu */
    #menu{
        padding: 40px 21px;
    }
    #menu > h2{
        font-size: 24px;
    }
    #menu ul{
        justify-content: flex-start;
        overflow: hidden;
    }
    #menu ul li a{
        font-weight: 500;
        font-size: 12px;
        width: 76px;
        padding: 6px 0;
    }
    #menu .menu-cards{
        padding: 0;
        justify-content: center;
    }
    #menu .menu-cards>button{
        display: inline-block;
        padding: 9px;
        background-color: #E31E25;
        border: none;
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
        border-radius: 8px;
        width: 160px;
    }
    #menu .menu-cards .cards{
        padding: 7px;
        border-radius: 15px;
        display: flex;
        line-height: 12px;
    }
    #menu .menu-cards .cards img{
        width: 70px;
        height: 98px;
        border-radius: 10px;
    }
    #menu .menu-cards .cards .cards-content{
        padding: 8px;
    }
    #menu .menu-cards .cards h2{
        font-size: 12px;
    }
    #menu .menu-cards .cards h5{
        font-size: 10px;
    }
    #menu .menu-cards .cards p{
        font-size: 9px;
        padding: 3px 0 10px 0;
        line-height: 10px;
    }
    #menu .menu-cards .cards .cards-content div{
        align-items: center;
    }
    #menu .menu-cards .cards span{
        font-size: 11px;
        font-weight: 600;
    }
    #menu .menu-cards .cards button{
        font-size: 9px;
    }

    /* Testimonials */
    #testimonials{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .testimonial-heading{
        width: 100%;
        height: 100px;
        justify-content: flex-start;
        line-height: 33px;
    }
    .testimonial-heading h3{
        font-weight: 400;
        font-size: 26px;
    }
    .testimonial-heading h2{
        font-size: 26px;
    }
    .testimonial-content{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .testimonial-content .testBtns{
        display: none;
    }
    
    .testimonial-content .test-content h4{
        font-weight: 600;
    }
    
    /* Timing */
    #timing{
        padding: 30px 20px;
    }
    #timing .container{
        padding: 20px 0;
    }
    #timing .container > h2{
        font-size: 27px;
    }
    #timing .container h2{
        font-size: 18px;
    }
    #footer{
        padding: 30px 20px;
    }
    #footer .container{
        flex-direction: column;
        line-height: 23px;
        gap: 40px;
    }
    #footer .footer-logo img{
        width: 250px;
        margin: 0;
    }
    #footer .footer-logo p{
        font-size: 13px;
    }
    #footer .container h3{
        font-size: 13px;
    }
    #footer .footer-logo, #footer .footer-links, #footer .footer-contact{
        width: 250px;
    }
    #footer li{
        font-size: 12px;
    }
    #footer .copy-right{
        font-size: 10px;
    }
}